form {
  width: 95%;
  margin: auto;
  max-width: 1200px;
  padding: 1rem;
}

@media (max-width: 768px) {
  form {
    grid-template-columns: 1fr !important;
    gap: 1rem !important;
  }
}

input,
form button,
label {
  display: block;
}
form button,
input,
textarea {
  outline: none;
}
input,
textarea {
  border: 1px solid rgb(199, 199, 199);
  border-radius: 10px;
  padding: 10px;
  font-size: 90%;
  width: 100%;
  height: 30px;
  color: rgb(53, 53, 53);
  box-sizing: border-box;
}
textarea {
  height: 50px;
  resize: vertical;
}
label {
  margin-top: 10px;
  margin-bottom: 5px;
}
form button {
  --accent: rgb(0, 162, 255);
  margin-top: 20px;
}

.form-container {
  width: 90%;
}
